@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;

}
.hero-section{
    border-radius: 24px;
    border: 1px solid var(--Neutral-Border, #E5E5E5);
    background: var(--Neutral-Surface, #F9FAFB);
    display: flex;
    flex-direction: column;
    width: 358px;
    padding: 72px 0px;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-bottom: 104px;
    margin-top: 24px;
}
.hero-section .hero-section-text-small{
    font-family: 'Inter', sans-serif;
}
.hero-section h2{
    color: var(--Neutral-Text-Primary, #171717);
text-align: center;
font-family: 'Anton', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.08px;
text-transform: uppercase;
width: 100%;
}

.hero-section-text{
    color: var(--Neutral-Text-Secondary, #525252);
    text-align: center;
    flex: 1 0 0;
    font-family: var(--Type-Family-Body, sans-serif );
    font-size: var(--Type-Size-MD, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.035px;
    padding: 0 20px;
    width: 100%;
}
.skill-section{
    display: flex;
    width: 358px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.skill-section-title{
    color: var(--Neutral-Text-Primary, #171717);
    /* font-family: Anton; */
    font-family:sans-serif, 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.05px;
    align-self: stretch;
    text-align: start;
}
.skill-section .services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}
.card{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: var(--Type-Size-LG, 16px);
    width: 358px;

    /* background: var(--Critical-Opacity---Deep, rgba(254, 242, 242, 0.70)); */
    }
.card-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}
.card-content h3 {
    color: var(--Neutral-Text-Primary, #171717);

    font-family:sans-serif, 'Inter';
    font-size: var(--Type-Size-LG, 16px);
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.272px;
  }
.card-content p {
    color: var(--Neutral-Text-Secondary, #525252);
    font-family:sans-serif, 'Inter';
    font-size: var(--Type-Size-MD, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.035px;
    text-align: start;
  }
@media (min-width: 768px) {

}