@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;

}
.hero-section{
    border-radius: 24px;
    border: 1px solid var(--Neutral-Border, #E5E5E5);
    background: var(--Neutral-Surface, #F9FAFB);
    display: flex;
    flex-direction: column;
    width: 358px;
    padding: 72px 0px;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-bottom: 104px;
    margin-top: 60px;
    
    
}
.hero-section .hero-section-text-small{
    font-family: 'Inter', sans-serif;
}
.hero-section h2{
    color: var(--Neutral-Text-Primary, #171717);
text-align: center;
font-family: 'Anton', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.08px;
text-transform: uppercase;
width: 100%;
}

.hero-section-text{
    color: var(--Neutral-Text-Secondary, #525252);
    text-align: center;
    flex: 1 0 0;
    font-family: var(--Type-Family-Body, sans-serif );
    font-size: var(--Type-Size-MD, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.035px;
    padding: 0 20px;
    width: 100%;
}
.skill-section{
    display: flex;
    width: 358px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin-bottom: 116px;
}
.skill-section-title{
    color: var(--Neutral-Text-Primary, #171717);
    /* font-family: Anton; */
    font-family:sans-serif, 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.05px;
    align-self: stretch;
    text-align: start;
}
.skill-section .services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}
.skill-card{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: var(--Type-Size-LG, 16px);
    width: 358px;

    /* background: var(--Critical-Opacity---Deep, rgba(254, 242, 242, 0.70)); */
    }
.skill-card-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}
.skill-card-content h3 {
    color: var(--Neutral-Text-Primary, #171717);

    font-family:sans-serif, 'Inter';
    font-size: var(--Type-Size-LG, 16px);
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.272px;
  }
.skill-card-content p {
    color: var(--Neutral-Text-Secondary, #525252);
    font-family:sans-serif, 'Inter';
    font-size: var(--Type-Size-MD, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.035px;
    text-align: start;
  }



/* ProjectCard.css */
.project-card {
    background-color: #ffffff;
    border-radius: 10px;
    /* padding: 20px; */
    text-align: left;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* margin: 10px; */
    display: flex;
    flex-direction: column;

    display: flex;
    max-width: 358px;
    padding-top: 66px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 37px;
    border-radius: 16px;
    border: 1px solid var(--Neutral-Border, #E5E5E5);
    background: var(--Neutral-Surface, #F9FAFB);
  }
  
  .project-image img {
    width: 100%;
  }
  
  .project-content {
    padding: 16px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 16px 16px;
    border-top: 1px solid var(--Neutral-Border, #E5E5E5);
    background: var(--Neutral-Background, #FFF);
    width: 100%;    
    justify-content: space-between;
  }
  
  .project-content h3 {
    /* margin: 0 0 10px;
    font-size: 1.5em; */
    color: var(--Neutral-Text-Primary, #171717);
    font-family: sans-serif;
    font-size: var(--Type-Size-LG, 16px);
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.272px;
    align-self: stretch;
  }
  
  .project-content p {
    margin: 0 0 20px;

    color: var(--Neutral-Text-Secondary, #525252);
    font-family: sans-serif;
    font-size: var(--Type-Size-LG, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.04px;

  }
  
  .project-link {
    display: inline-block;
    font-size: 1.5em;
    color: #0073e6;
    text-decoration: none;
  }
  
  .project-link span {
    display: inline-block;
    transition: transform 0.3s;
    border-radius: var(--XXXL, 100px);
    border: 1px solid var(--Neutral-Border, #E5E5E5);
    background: var(--Neutral-Surface, #F9FAFB);
    display: flex;
    width: 36px;
    height: var(--M, 36px);
    padding: 0px var(--M, 12px);
    justify-content: center;
    align-items: center;
    gap: var(--L, 16px);
    transform: rotate(45deg);

  }
  
  .project-link:hover span {
    transform: translateX(5px);
       transform: rotate(15deg);

  }

footer{
    display: flex;
    max-width: 100vw;
    padding: 26px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background: var(--Neutral-Background, #0A0A0A);
    border-radius: var(--Type-Size-LG, 16px);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    /* width: 390px; */
    
}
footer h4{
    color: var(--Neutral-Text-Primary, #FAFAFA);
    font-family: sans-serif;
    font-size: var(--Type-Size-MD, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.035px;
}
footer a{
    color: var(--Neutral-Text-Primary, #d2d0d0);
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: underline;
    font-weight: 200;


}
@media (min-width: 768px) {
    .hero-section{
        max-width: 1152px;
        width: auto;
        height: 421px;
    }
    .hero-section-text{
        max-width: 60%;
        color: var(--Neutral-Text-Secondary, #525252);
        text-align: center;
        font-size: var(--Type-Size-LG, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 137.5% */
        letter-spacing: 0.04px;
    }

    .skill-section{
        max-width: 1152px;
        width: 1152px;
    }
    .skill-section .services{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .skill-card{
        flex: 1;
    }
    .project-card{
        flex: 1;
        max-width: 564px;
        max-height: 564px;
        height: 564px;
    }

}